.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dot {
  background-color: green;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: blue;
}

.power-pellet {
  background-image: url(./power.png);
  background-size: cover;
  
  border-radius: 10px;
}


.blinky{
  background-image: url(./blinky.png);
  background-size: cover;
  border: 0px;
}
.pinky{
  background-image: url(./pinky.png);
  background-size: cover;
  border: 0px;
}
.inky{
  background-image: url(./inky.png);
  background-size: cover;
  border: 0px;
}

.clyde{
  background-image: url(./clyde.png);
  background-size: cover;
  border: 0px;
}

.scared-ghost{
  background-image: url(./scared.png);
  background-size: cover;
  border: 0px;
}




.pac-man{
  background-color: yellow;
  border-radius: 10px;
  background-image: url(./pacman.gif);
  background-size: cover;
  /* border: 1px solid black; */
}